form {
    background-color: aquamarine;
    padding: 15px;
    width: 500px;
}

form div, form button {
    margin: 15px 5px;
}

form input, form textarea {
    width: 100%;
}

form textarea {
    height: 100px;
}
